<a href="https://colab.research.google.com/github/spegas/Dacon/blob/main/Get_Stock_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 초기 import 설정
import os, sys
from google.colab import drive

In [2]:
# Google drive 마운트
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
!pip install finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1

In [4]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=73eed59b209703c2780cacb9db1f15f677222ed26e7942fbe4d21459c5a506c5
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [16]:
import pandas as pd
import numpy as np

In [17]:
# FinanceDataReader 를 fdr 별칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다. 
import FinanceDataReader as fdr
fdr.__version__

'0.9.31'

In [18]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목

# 한국거래소 상장종목 전체 가져오기
pd_df_krx = fdr.StockListing("KRX")

In [19]:
# 가져온 KRX 상장종목 리스트중 일부 출력
pd_df_krx.head()

   Symbol  Market  ...                       HomePage Region
0  060310  KOSDAQ  ...           http://www.3sref.com  서울특별시
1  095570   KOSPI  ...         http://www.ajnet.co.kr  서울특별시
2  006840   KOSPI  ...  http://www.aekyunggroup.co.kr  서울특별시
3  054620  KOSDAQ  ...   http://www.apsholdings.co.kr    경기도
4  265520  KOSDAQ  ...     http://www.apsystems.co.kr    경기도

[5 rows x 10 columns]

In [20]:
# KRX 상장종목 리스트 행과 열의 크기를 봅니다.(행, 열) 순
pd_df_krx.shape

(7217, 10)

In [21]:
# 전체 KRX 데이터프레임의 요약정보를 봅니다.
pd_df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7217 entries, 0 to 7216
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7217 non-null   object
 1   Market          7217 non-null   object
 2   Name            7217 non-null   object
 3   Sector          2486 non-null   object
 4   Industry        2468 non-null   object
 5   ListingDate     2486 non-null   datetime64[ns]
 6   SettleMonth     2486 non-null   object
 7   Representative  2486 non-null   object
 8   HomePage        2336 non-null   object
 9   Region          2486 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 620.2+ KB

In [22]:
# 전체 KRX 데이터프레임의 기술통계 값을 요약합니다.
pd_df_krx.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

        Symbol Market  ...                  HomePage Region
count     7217   7217  ...                      2336   2486
unique    7217      3  ...                      2315     22
top     004360  KOSPI  ...  http://www.dygroup.co.kr  서울특별시
freq         1   5530  ...                         2   1011
first      NaN    NaN  ...                       NaN    NaN
last       NaN    NaN  ...                       NaN    NaN

[6 rows x 10 columns]

In [31]:
# KRX 종목 리스트를 저장하기 위한 디렉토리 설정
save_base_dir = '/content/drive/MyDrive/Stock/data/'
save_krx_save_filename = save_base_dir +  str('krx_stock_list.csv')
print(save_krx_save_filename)

/content/drive/MyDrive/Stock/data/krx_stock_list.csv

In [35]:
# 설정한 저장 파일이름 KRX 종목 리스트 정보를 CSV로 저장.
pd_df_krx.to_csv(save_krx_save_filename, index=False)

In [36]:
# 설정한 저장 파일이름에 KRX 종목 리스트 값이 잘 저장 되었는지 해당 파일에서 데이터를 로드 함.
load_df_krx = pd.read_csv(save_krx_save_filename, header=0)

In [38]:
# 로드한 정보의 일부를 출력 함.
load_df_krx.head()

   Symbol  Market  ...                       HomePage Region
0  060310  KOSDAQ  ...           http://www.3sref.com  서울특별시
1  095570   KOSPI  ...         http://www.ajnet.co.kr  서울특별시
2  006840   KOSPI  ...  http://www.aekyunggroup.co.kr  서울특별시
3  054620  KOSDAQ  ...   http://www.apsholdings.co.kr    경기도
4  265520  KOSDAQ  ...     http://www.apsystems.co.kr    경기도

[5 rows x 10 columns]